@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Rubik', sans-serif;
}
a, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
    text-decoration: none;
    line-height: 1.2;
}
button:focus,
textarea:focus,
select:focus{
	outline: none!important;
	-webkit-appearance:none;
	box-shadow: none;
}
input:focus{
	outline: none!important;
}
a:active, a:focus {
  outline: 0;
  outline: none!important;
  border: none;
  -moz-outline-style: none;
}
a, button, img, svg path {
	transition: .3s all ease;
}

.wrapper {
	overflow: hidden;
}
.owl-drag {
    overflow: hidden;
}
.owl-item {
    float: left;
}
.owl-dots {
    display: none;
}

header {
	box-shadow: 0px 4px 20px #EDEFF0;
}

header .top-con {
	padding-top: 14px;
	padding-bottom: 14px;
	background: #63AA28;
}

header .head-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .head-top .top-city {
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
header .head-top .navbar {
	padding: 0;
}
header .head-top .navbar .navbar-nav .nav-item {
	margin-right: 24px;
}
header .head-top .navbar .navbar-nav .nav-item:last-child {
	margin-right: 0;
}
header .head-top .navbar .navbar-nav .nav-link {
	padding: 0;
	font-size: 16px;
	line-height: 19px;
	font-weight: 400;
	color: #FFFFFF;
}
header .head-top .navbar .navbar-nav .nav-link:hover {
	color: #000;
}

header .head-top .top-tel {
	display: flex;
	align-items: center;
}
header .head-top .top-tel a {
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #fff;
	margin-right: 5px;
}
header .head-top .top-tel span {
	font-size: 16px;
	line-height: 19px;
	color: #fff;
}


header .head-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}
header .head-content .head-right {
	display: flex;
	align-items: center;
}
header .head-content .head-right a {
	font-weight: 300;
    font-size: 16px;
    line-height: 19px;
	margin-right: 10px;
	color: #363636;
}

header .head-content .head-right a.login {
	background-color: #63aa28;
	font-weight: 400;
	border-radius: 10px;
    transition: .1s all ease;
	padding: 13px 16px;
	color: #fff;
	margin-right: 0;
}
header .head-content .head-right a.login:hover {
	background-color: #4c831f;
}
header .head-content .head-search {
	position: relative;
}
header .head-content .search {
  display: block;
  min-width: 552px;
  min-height: 38px;
  padding: 10px 14px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 10px;
  margin-left: 50px;
}
header .head-content .search::placeholder {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #959595;
}
header .head-content .search-btn {
	position: absolute;
	top: 8px;
	right: 14px;
	border: none;
	padding: 0;
	background: transparent;
	cursor: pointer;
}
header .head-content .head-left {
	display: flex;
	align-items: center;
}
/* ============================= */
.main-sec {
	padding-top: 35px;
}
.main-sec .main-left {
	padding: 8px 0;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	overflow: hidden;
}
.main-sec .main-left ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.main-sec .main-left ul li{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main-sec .main-left ul li a {
	font-size: 16px;
	line-height: 100%;
	color: #494949;
	width: 100%;
	padding: 16px 30px;
	position: relative;
}
.main-sec .main-left ul li:after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	width: 85%;
	height: 2px;
	margin: auto;
	background-color: #F2F2F2;
}
.main-sec .main-left ul li:last-child::after {
	content: none;
}
.main-sec .main-left ul li a:hover {
	background: #F2F2F2;
}
.main-sec .main-left ul li span {
	display: inline-block;
	position: absolute;
	right: 34px;
}
.main-sec .main-left ul li span svg path {
	transition: .3s all ease;
}
.main-sec .main-left ul li:hover span svg path {
	fill: #63AA28;
}

.main-sec .main-slide {
	position: relative;
}
.main-sec .main-slide .slide-img {
	padding: 28px 65px;
}
.main-sec .main-slide .slide-img img {
	width: 100%;
	height: 300px;
	object-fit: contain;
}
.main-sec .main-slide .slide-img {
	overflow: hidden;
	background: #303030;
	border-radius: 20px;
}
.main-sec .main-slide .owl-nav button {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 45%;
}
.main-sec .main-slide .owl-nav button.disabled {
	opacity: 0.5;
}

.main-sec .main-slide .owl-nav .owl-prev {
	left: 10px;
	transform: rotate(180deg);
}
.main-sec .main-slide .owl-nav .owl-next {
	right: 10px;
}
.main-sec .main-actual h2 {
	margin: 40px 0 25px;
	font-weight: 600;
	font-size: 24px;
	line-height: 28px;
	color: #363636;
}
.main-sec .main-actual .main-tabs {
	padding: 12px 0 20px 12px;
	background: #FFFFFF;
	border-radius: 20px;
	box-shadow: 0px 4px 20px #EDEFF0;
}

.main-sec .nav-pills .nav-link:hover,
.main-sec .nav-pills .nav-link.active,
.main-sec .nav-pills .show>.nav-link {
	background: #EEEEEE;
	color: #494949;
}
.main-sec .nav-pills .nav-link {
	font-size: 15px;
	line-height: 18px;
	color: #494949;
	padding: 5px 15px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 10px;
	margin-right: 15px;
}

.main-sec .actual-slide {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
}
.main-sec .actual-slide .owl-nav {
	display: none;
}
.main-sec .actual-block {
	display: flex;
	align-items: flex-start;
	margin-top: 21px;
}
.main-sec .actual-block .actual-img {
	margin-right: 8px;
}
.main-sec .actual-block .actual-img img {
	height: 94px;
}
.main-sec .actual-block .actual-info > p {
	font-size: 16px;
	line-height: 115%;
	color: #494949;
	margin-bottom: 6px;
}
.main-sec .actual-block .actual-info span {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 115%;
	color: #63AA28;
	margin-bottom: 5px;
}
.main-sec .actual-block .actual-info .actual-link {
	display: flex;
	align-items: center;
}
.main-sec .actual-block .actual-info .actual-link .actual-buy {
	padding: 6px 40px;
	font-size: 15px;
	line-height: 18px;
	color: #494949;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 10px;
	margin-right: 3px;
}
.main-sec .actual-block .actual-info .actual-link .actual-buy:hover {
	background: #63AA28;
	color: #fff;
}
.main-sec .actual-block .actual-info .actual-link .favorite {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.main-sec .actual-block .actual-info .actual-link .favorite:hover {
	background-color: #63AA28;
}
.main-sec .actual-block .actual-info .actual-link .favorite:hover svg path {
	stroke: #fff;
}


.brands-col {
	padding: 0;
}
.brands-slide {
	margin: 30px 0;
	position: relative;
	padding: 15px;
}
.brands-slide .owl-nav{display: none;}
.brands-slide .brands-item {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	height: 85px;
	padding: 0 9px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brands-slide .brands-item:hover {
	box-shadow: 0px 4px 20px #DDDFE0;
}

.title h2 {
	font-weight: 600;
	font-size: 24px;
	line-height: 100%;
	color: #000;
}

/* ========= popular products ============= */
.popular-products .title {
	margin-bottom: 30px;
}
.popular-products .products-block {
	padding: 22px 20px 20px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	margin-bottom: 30px;
	transition: .3s all ease;
	position: relative;
}
.popular-products .products-block .sale {
	position: absolute;
	left: 0;
	top: 41px;
	display: inline-block;
	background: #63AA28;
	border-radius: 0 5px 5px 0;
	padding: 6px 9px 6px 4px;
	font-size: 16px;
	line-height: 115%;
	color: #FFFFFF;
}
.popular-products .products-block:hover {
	box-shadow: 0px 4px 20px #D3D3D3;
}

.popular-products .products-img img {
	width: 100%;
	height: 230px;
}
.popular-products .products-name p {
	text-align: center;
	font-size: 16px;
	line-height: 115%;
	color: #494949;
	margin: 6px auto 7px;
	height: 36.78px;
	overflow: hidden;
}

.popular-products .products-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.popular-products .products-info .products-save {
	padding: 4px 9px 8px;
	background: #FFFFFF;
	box-shadow: 0px 4px 78px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
}
.popular-products .products-info .products-save .control span {
	display: inline-block;
	margin-top: 5px;
}

.popular-products .products-rating {
	display: flex;
	align-items: center;
	padding: 8px 6px 8px 9px;
	background: #FFFFFF;
	box-shadow: 0px 4px 78px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
}
.popular-products .products-rating a {
	display: inherit;
	margin-right: 4px;
	height: 15px;
}
.popular-products .products-rating a.active svg path {
	fill: #63AA28;
}
.popular-products .products-rating .rating-count {
	font-size: 15px;
	line-height: 18px;
	color: #494949;
}

.popular-products .products-price {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-top: 16px;
}
.popular-products .products-price .p-price {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}
.popular-products .products-price .p-price del {
	position: absolute;
	left: 0;
	top: -14px;
	font-size: 16px;
	line-height: 115%;
	color: #B3AFAF;
}
.popular-products .products-price .p-price span {
	display: inline-block;
	font-weight: 600;
	font-size: 24px;
	line-height: 115%;
	color: #63AA28;
}

.popular-products .products-price .products-buy a {
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	padding: 6px 40px;
	box-shadow: 0px 4px 8px #EDEFF0;
	border-radius: 10px;
	color: #FFFFFF;
	background: #63AA28;
	transition: .2s;
}
.popular-products .products-price .products-buy p.not {
	font-size: 15px;
	line-height: 18px;
	padding: 6px 40px;
	box-shadow: 0px 4px 8px #EDEFF0;
	border-radius: 10px;
	background: #FFFFFF;
	color: #4A4A4A;
	padding: 6px 15px;
}
.popular-products .products-price .products-buy a:hover {
	transform: scale(.96);
}

.popular-products .catalog-btn {
	text-align: center;
}
.popular-products .catalog-btn a {
	font-size: 16px;
	line-height: 19px;
	color: #363636;
	padding: 13px 130px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 10px;
}
.popular-products .catalog-btn a:hover {
	box-shadow: 0px 4px 20px #DDDFE0;
}
/* ============= gougid section =========== */
.grougid-sec {
	padding: 40px 0;
}
.grougid-sec .title {
	margin-bottom: 16px;
}
.grougid-sec .grougid-block {
	height: 210px;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	position: relative;
	margin-bottom: 40px;
}
.grougid-sec .grougid-block .grougid-img img {
	width: 100%;
	height: 100%;
}
.grougid-sec .grougid-block .grougid-text {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 85px 15px 30px 24px;
	width: 100%;
	background-image: url('../images/grougid-bg-green.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.grougid-sec .grougid-block.two .grougid-text {
	background-image: url('../images/grougid-bg2.svg');
}
.grougid-sec .grougid-block.three .grougid-text {
	background-image: url('../images/grougid-bg3.svg');
}
.grougid-sec .grougid-block .grougid-text p {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}

.grougid-sec .grou-col {
	margin-bottom: 40px;
}
.grougid-sec .grougid-item {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	padding: 22px 10px 10px 20px;
	height: 100%;
}
.grougid-sec .grougid-item .grou-icon {
	margin-right: 10px;
}
.grougid-sec .grougid-item .grou-title h4 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 7px;
	color: #363636;
}
.grougid-sec .grougid-item .grou-title p {
	font-size: 14px;
	line-height: 17px;
	color: #959595;
}

.grougid-sec .grou-map {
	overflow: hidden;
	border: 9px solid #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 30px;
	height: 450px;
	position: relative;
}
.grougid-sec .grou-map iframe {
	width: 100%;
	height: 100%;
}
.grougid-sec .grou-map .map-info {
	display: inline-block;
	padding: 35px 20px 35px 30px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 30px;
	position: absolute;
	left: 100px;
	top: 100px;
}
.grougid-sec .grou-map .map-info .info-title {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}
.grougid-sec .grou-map .map-info .info-title h5 {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: #363636;
	margin-right: 10px;
}
.grougid-sec .grou-map .map-info .info-title a img {
	height: 22px;
}
.grougid-sec .grou-map .map-contact address {
	margin-bottom: 7px;
	font-size: 16px;
	line-height: 19px;
	color: #363636;
	width: 236px;
}
.grougid-sec .grou-map .map-contact a {
	display: block;
	margin-bottom: 7px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #63AA28;
}
.grougid-sec .grou-map .map-contact p {
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	color: #363636;
}
.grougid-sec .grou-map .map-contact span {
	color: #959595;
}
/* ==================== */

.catalog-sec .title {
	margin-bottom: 35px;
}
.catalog-sec .catalog-block {
	display: block;
	height: 217px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	position: relative;
	text-align: center;
	padding: 9px 20px 20px;
	margin-bottom: 25px;
	overflow: hidden;
}
.catalog-sec .catalog-block:hover {
	box-shadow: 0px 4px 20px #DDDFE0;
}
.catalog-sec .catalog-block:hover img {
	transform: scale(1.05);
}
.catalog-sec .catalog-block span {
	display: block;
}
.catalog-sec .catalog-block .catalog-img img {
	height: 132px;
}
.catalog-sec .catalog-block .catalog-text {
	font-weight: 600;
	font-size: 16px;
	line-height: 160.5%;
	text-align: center;
	color: #000000;
	margin-top: 25px;
}
.catalog-sec .catalog-info {
	display: flex;
	align-items: center;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	padding: 25px;
}
.catalog-sec .catalog-info p {
	font-size: 16px;
	line-height: 160.5%;
	color: #363636;
	margin-right: 50px;
}
.catalog-sec .catalog-info img {
	width: 130px;
	/* height: 67px; */
}
/* /////////// */
.catalog-view {
	padding: 30px 0 60px;
}
.catalog-view .title {
	margin-bottom: 30px;
}
.catalog-view .catalog-slide {
	display: flex;
	flex-wrap: nowrap;
	position: relative;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 20px;
	padding: 28px 0 26px 12px;
}
.catalog-view .catalog-slide .owl-nav {
	display: none;
}
.catalog-view .catalog-block {
	display: flex;
	align-items: flex-start;
}
.catalog-view .catalog-block .catalog-img {
	margin-right: 8px;
}
.catalog-view .catalog-block .catalog-img img {
	height: 94px;
}
.catalog-view .catalog-block .catalog-info > p {
	font-size: 16px;
	line-height: 115%;
	color: #494949;
	margin-bottom: 6px;
}
.catalog-view .catalog-block .catalog-info span {
	display: inline-block;
	font-weight: 600;
	font-size: 16px;
	line-height: 115%;
	color: #63AA28;
	margin-bottom: 5px;
}
.catalog-view .catalog-block .catalog-info .catalog-link {
	display: flex;
	align-items: center;
}
.catalog-view .catalog-block .catalog-info .catalog-link .catalog-buy {
	padding: 6px 40px;
	font-size: 15px;
	line-height: 18px;
	color: #494949;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 10px;
	margin-right: 3px;
}
.catalog-view .catalog-block .catalog-info .catalog-link .catalog-buy:hover {
	background: #63AA28;
	color: #fff;
}
.catalog-view .catalog-block .catalog-info .catalog-link .favorite {
	background: #FFFFFF;
	box-shadow: 0px 4px 20px #EDEFF0;
	border-radius: 10px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.catalog-view .catalog-block .catalog-info .catalog-link .favorite:hover {
	background-color: #63AA28;
}
.catalog-view .catalog-block .catalog-info .catalog-link .favorite:hover svg path {
	stroke: #fff;
}
















































/* ======== footer ========== */
footer {
	padding-top: 30px;
	background: #333333;
}
footer .ftr-logo {
	margin-bottom: 40px;
}
footer .ftr-left {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
footer .ftr-left .ftr-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
footer .ftr-left .ftr-menu p {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
	margin-bottom: 15px;
}
footer .ftr-left .ftr-menu a {
	display: inline-block;
	font-weight: 300;
	font-size: 16px;
	line-height: 200%;
	color: #FFFFFF;
}
footer .ftr-left .ftr-menu a:hover {
	color: #63AA28
}

footer .ftr-right {
	width: 240px;
	margin-left: auto;
}
footer .ftr-right .ftr-contact a {
	display: block;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
footer .ftr-right .ftr-contact a:hover {
	color: #63AA28;
}
footer .ftr-right .ftr-contact span {
	display: block;
	font-weight: 300;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
footer .ftr-right .ftr-address address {
	margin: 10px 0 17px;
	font-size: 16px;
	line-height: 19px;
	color: #FFFFFF;
}
footer .ftr-right .ftr-socials {
	display: flex;
	align-items: center;
}
footer .ftr-right .ftr-socials a {
	display: inline-block;
	margin-right: 10px;
}
footer .ftr-right .ftr-socials a:hover {
	transform: scale(1.1);
}

footer .ftr-rov {
	margin-top: 85px;
	padding-top: 13px;
	padding-bottom: 12px;
	border-top: 2px solid #636363;
}
footer .ftr-rov p {
	font-size: 14px;
	line-height: 17px;
	color: #959595;
}




/* =========== breadcrumbs ================== */
.breadcrumbs .bread {
	display: flex;
	align-items: center;
	margin: 15px 0 25px;
}
.breadcrumbs .bread a:hover {
	color: #000;
}
.breadcrumbs .bread a,
.breadcrumbs .bread span,
.breadcrumbs .bread p {
	font-size: 16px;
	line-height: 19px;
	color: #959595;
}
.breadcrumbs .bread span {
	margin: 0 4px;
}
/* ============= custom checkbox =============== */
.control {
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
	font-size: 12px;
	line-height: 16px;
	color: #494949;
}
.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.control__indicator {
  position: absolute;
  top: -2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #fff;
  border-radius: 5px;
  border: 1.5px solid #EEEEEE;
  transition: .3s all ease;
}
.control--radio .control__indicator {
  border-radius: 50%;
  transition: .3s all ease;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
}
.control__indicator:after {
  content: '';
  position: absolute;
  display: none;
}
.control input:checked ~ .control__indicator {
	border: none;
}
.control input:checked ~ .control__indicator:after {
  display: block;
  transition: .3s all ease;
}
.control--checkbox .control__indicator:after {
	left: -1px;
	top: 0;
	width: 20px;
	height: 18px;
	background-image: url('../images/favorite-green.png');
	background-repeat: no-repeat;
	border: none;
	transition: .3s all ease;
}
.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}





/*@media only screen and (max-width: 480px){}*/


